{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row_single">
        <div class="column">
            <div id="loginBox" class="rowBox">
                <div class="rowBoxTitle">Login <span class="rowTitleHreff">to <a class="rowTitleHreffAnchor" href="#">@GiveAIQ</a></span></div>
                <div class="rowBoxContent">
                    <div class="panel-group" id="loginaccordion">
                        <div class="panel panel-default">
                            <div id="logincollapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="rowBoxForm">{{ wtf.quick_form(form_LoginFormTwitter) }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div id="logincollapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="rowBoxForm">{{ wtf.quick_form(form_LoginFormTelegram) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rowBoxFooter">
                    <a data-toggle="collapse" data-parent="#loginaccordion" href="#logincollapse1" class="rowBoxFooterLeft">Twitter</a>
                    <a data-toggle="collapse" data-parent="#loginaccordion" href="#logincollapse2" class="rowBoxFooterRight">Telegram</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
