{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row_single">
        <div class="column"><div class="rowBox"><div class="rowBoxTitle">Terms and Conditions</div><div class="rowBoxContent">
        <div class="rowBoxRow">1. By using any of the Services or registering an account on the website, you agree to be bound by the terms and conditions below. If you do not agree with the terms and conditions in this Agreement you may not use the Service.</div>
<div class="rowBoxRow">2. The GiveAIQ staff may modify this Agreement and any policies affecting the Site at any point of time. Such modification is effective immediately upon posting to the website and will be distribution via telegram chat. Your continued use of the Service following any modification to this Agreement shall be deemed an acceptance of all modifications.</div>
<div class="rowBoxRow">3. The Service is free to use, however certain tasks might be subject to fee (withdrawal, sms, voice calls, ). The fees may change at any time, but notice will be given before doing so. Any fee change will be communicated through the services news page.</div>
<div class="rowBoxRow">4. The Service is not an e-wallet or a bank for your coins. The Service and it's operators are not responsible for any loss of coins which are stored on the Service. It is your responsibility to configure your account so that the coins you receive are regularly transferred to your own secured offline wallet.</div>
<div class="rowBoxRow">5. As stated in condition 4, The Service will store your coins for a maximum of 6 weeks, coins still in balance after 6 weeks will be considered as a donation to the Service and will be truncated from your account.</div>
<div class="rowBoxRow">6. On suspicious, malicious or any type of unwanted movement on our services and or website, We will immediately block your ip('s) or domain to all our servers. If there is any account linked to this we will suspend this account.
If we feel like the detected behaviour has a serious risk of compromising our Service, we will also report this together with all data we collected, to the autority's as an attempt on stealing.</div>
<div class="rowBoxRow">7. Any use of our services that is not according to our getting started here in wich a loss or short of coins are a result. Is on your own risk, and the Service or its operators are not responsible in any way. Always use the instructions provided by the Service.</div>
<div class="rowBoxRow">8. The uptime of the Service or website is not guaranteed, maintenance and downtime may be required at times.</div>
<div class="rowBoxRow">9. Botnets are not welcome. If we are uncertian then an investigation will be opened and the user will be notified via telegram/twitter. If we do not receive a response your account may be suspended.</div>
<div class="rowBoxRow">10. Multiple accounts controlled by one person may be considered as a botnet and an investigation will be opened, see above point.</div>
<div class="rowBoxRow">11. We use a database (and aiq blockchain) to store your data like twitter profile info, social networks handlers, shoe size and other. We will not sell it (never), we try our best to protect it, you have rights to remove it (contact us on telegram to do so).</div>
        </div></div></div>
    </div>
{% endblock %}
